@import "../../../assets/styles/variables";

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__title {
    color: #ccc;
  }

  &__box {
    margin-top: 12px;
    width: $boxWidthLarge;
    box-shadow: 2px 14px 21px 9px rgba(0, 0, 0, 0.13);
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box-bottom {
    width: $boxWidthLarge - 4px;
    height: 3px;
    border: 1px solid #bbb;
    border-top: none;
    background-color: #ececec;
  }

  &__top-bar {
    width: 100%;
    height: 10px;
    background-color: #90817a;
    border-bottom: 1px solid $topBarBorderColor;
  }
}
