@import "../../../assets/styles/variables";

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;

  @media screen and (max-width: 393px) {
    margin-top: 28px;
  }

  &__title {
    color: #ccc;
    font-size: 40px;

    @media screen and (max-width: 520px) {
      font-size: 36px;
    }
    @media screen and (max-width: 393px) {
      font-size: 33px;
    }
  }

  &__box {
    margin-top: 12px;
    width: $boxWidthLarge;
    box-shadow: 2px 14px 21px 9px rgba(0, 0, 0, 0.13);
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;

    @media screen and (max-width: 520px) {
      width: $boxWidthMedium;
    }

    @media screen and (max-width: 393px) {
      width: $boxWidthSmall;
    }
  }

  &__box-bottom {
    width: $boxWidthLarge - 4px;
    height: 3px;
    border: 1px solid #bbb;
    border-top: none;
    background-color: #ececec;
    transition: 0.2s;

    @media screen and (max-width: 520px) {
      width: $boxWidthMedium - 4px;
    }

    @media screen and (max-width: 393px) {
      width: calc($boxWidthSmall - 4px);
    }
  }

  &__top-bar {
    width: 100%;
    height: 10px;
    background-color: #90817a;
    border-bottom: 1px solid $scrollBarColor;
  }
}
