@import "../../../assets/styles/variables";

.todo-list-footer {
  width: $boxWidthLarge - 8px;
  background-color: #ececec;
  border: 1px solid #d0d0d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  font-size: 9px;
  color: #8d8d8d;
}
