.todo-list-item {
  width: 100%;
  padding: 10px 40px;
  position: relative;
  border-bottom: 1px dotted #ddd;
  min-height: 40px;
  height: auto;
  font-size: 16px;

  transition: min-height 0.5s;

  &--zero-height {
    min-height: 0;
    padding: 0;
  }

  &--editing {
    padding: 0 0 0 20px;
  }

  &__text {
    &--deleted {
      display: none;
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #a4a4a4;
    word-break: break-word;
  }

  &__delete {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: none;

    &--deleted {
      display: none;
    }
  }

  &__checkbox {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    accent-color: #6b036b;

    &--hide {
      display: none;
    }
  }

  &:hover {
    .todo-list-item__delete:not(.todo-list-item__delete--deleted):not(.todo-list-item__delete--editing) {
      display: inline;
    }
  }
}
