.todo-list-item {
  width: 100%;
  padding: 10px 40px;
  position: relative;
  border-bottom: 1px dotted #ddd;
  min-height: 40px;

  &__delete {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
  }

  &:hover {
    .todo-list-item__delete {
      display: inline;
    }
  }
}
